# Created by .ignore support plugin (hsz.mobi)
/images/
.idea/
db.sqlite3


__pycache__
templates/registration/
templates/zaer/index.html
templates/zaer/new_post.html
templates/zaer/post_by_tag.html
templates/zaer/post_detail.html
