{#{% extends "base.html" %}#}
{% load static %}
{% load jalali_tags %}
<html>
<head>
    <title>چاپ کارت زائر</title>

    <link rel="icon" href="{% static "logo.png" %}" sizes="32x32" type="image/png">

    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "node_modules/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "node_modules/vazir-font/dist/font-face.css" %}">
    <link rel="stylesheet" href="{% static "css/print.css" %}">

    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "node_modules/jquery/dist/jquery.slim.min.js" %}"></script>
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "js/print.js" %}"></script>
</head>
<body class="container" style="direction: rtl; text-align: right; font-family: Vazir">
<div class="row mt-3">
    <div class="col-4  text-center">
        موکب اباصالح المهدی (عج)
    </div>
    <div class="col-4  text-center">
        <img src="{% static "logo.png" %}" height="64">
    </div>
    <div class="col-4  text-center">
        <img src="{{ zaer.image.url }}" height="128">
    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
        <div>
            نام: {{ zaer.first_name }}
        </div>
        <div>
            نام خانوادگی: {{ zaer.last_name }}
        </div>
        <div>
            سن: {{ zaer.age }} سال
        </div>
        <div>
            جنسیت: {% if zaer.gender == 'm' %}   مرد {% elif zaer.gender == 'f' %} زن {% endif %}
        </div>

    </div>
    <div class="col-6">
        <div>
            آدرس: {{ zaer.address }}
        </div>
        <div>
            تاریخ ورود: {{ zaer.in_datetime|to_jalali:'%H:%M:%S %y/%m/%d' }}
        </div>
        <div>
            تاریخ خروج: {{ zaer.out_datetime|to_jalali:'%H:%M:%S %y/%m/%d' }}
        </div>

    </div>

</div>

<script type="text/javascript">
    window.onload = function () {
        window.print();
    }
</script>
</body>

</html>