{% extends "base.html" %}
{% load jalali_tags %}

{% block content%}
    <img class="rounded-circle" src="{{ zaer.image.url }}" height="128">
    <div>
    نام: {{ zaer.first_name }}
    </div>
    <div>
    نام خانوادگی: {{ zaer.last_name }}
    </div>
    <div>
    آدرس: {{ zaer.address }}
    </div>
    <div>
    تاریخ تولد: {{ zaer.age }}
    </div>
    <div>
    تاریخ ورود: {{ zaer.in_datetime|to_jalali:'%H:%M:%S %y/%m/%d' }}
    </div>
    <div>
    تاریخ خروج: {{ zaer.out_datetime|to_jalali:'%H:%M:%S %y/%m/%d' }}
    </div>
    <div>
جنسیت: {% if zaer.gender == 'm'%}   مرد {% elif zaer.gender == 'f' %} زن {% endif %}
    </div>

<a href="{% url "zaer_cart" zaer.id %}"><div class="btn btn-info my-2 my-sm-0" type="submit">zaer cart</div></a>
<a href="{% url "zaer_out" zaer.id %}"><div class="btn btn-warning my-2 my-sm-0" type="submit">zaer out</div></a>

{% endblock %}
