{% extends "base.html" %}
{% load static %}
{% load jalali_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/capture_picture.css" %}">

    <script src="{% static "js/capture_picture.js" %}"></script>

    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col col-sm-6">
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                    <button id="startbutton">Take photo</button>
                </div>
            </div>
            <div class="col col-sm-6">
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div>

            </div>
        </div>

        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
{#        <input type="file" accept="image/*;capture=camera">#}
        {% include 'include/field_frame.html' with form=form field=form.image placeholder="تصویر" %}
        {% include 'include/field_frame.html' with form=form field=form.first_name placeholder="نام" %}
        {% include 'include/field_frame.html' with form=form field=form.last_name placeholder="نام خانوادگی" %}
        {% include 'include/field_frame.html' with form=form field=form.age placeholder="سن" %}
        {% include 'include/field_frame.html' with form=form field=form.gender placeholder="جنسیت" %}
        {% include 'include/field_frame.html' with form=form field=form.address placeholder="آدرس" %}
        {% include 'include/field_frame.html' with form=form field=form.mobile placeholder="موبایل" %}
        <button type="submit" class="btn btn-primary" onsubmit="newZaer()">ثبت</button>
    </form>
    <script>
        {#    (function () {#}
        {#    navigator.getMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia);#}
        {##}
        {#    navigator.getMedia(#}
        {#        // constraints#}
        {#        {video:true, audio:false},#}
        {##}
        {#        // success callback#}
        {#        function (mediaStream) {#}
        {#            var video = document.getElementsByTagName('video')[0];#}
        {#            video.src = window.URL.createObjectURL(mediaStream);#}
        {#            video.play();#}
        {#        },#}
        {#        //handle error#}
        {#        function (error) {#}
        {#            console.log(error);#}
        {#        })#}
        {# })(); #}

    </script>
{% endblock %}